<%- include ("partials/loginHeader")  %>
<div class="container">
     <button type="button" class="btn btn-success btn-lg" onclick="window.location.href='/market/new'" style=" margin-bottom: 50px; margin-left: 42%;">Sell your item</button>
<table class="table table-striped">
     <thead>
       <tr>
         <th scope="col"style="width: 200px;">Game</th>
         <th scope="col" style="width: 200px;">Price</th>
         <th scope="col" style="width: 200px;">Negotiable</th>
         <th scope="col">Description</th>
       </tr>
     </thead>
     <tbody>
       <% items.forEach(element => { %>
          <tr>
               <td><%=  element.name %></td>
               <td><span>$</span><%=  element.price %></td>
               <td><%=  element.negotiable %></td>
               <td><%=  element.body %></td>
          </tr>
       <% }) %>          
     </tbody>
   </table>
</div>



<%- include ("partials/footer") %> 